body {
    font-family: 'Source Code Pro',sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

#title {
    text-align: center;
}

.centered-div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#navbar {
    justify-content: space-around;
    width: 50%;
}
